body{
	background-image: url(../img/005.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
	
	
}
div{
	position: relative;
	top:100px;
	
}
#d3{
	width:150px;
	height:67px;
	border-radius: 15%;
	background-image: url(../img/0001.jpg);
	text-align:center;
	font-size: 25px;
	position: relative;
	left: 100px;
	top:60px;
	}
	
	#d4{
	font-family : 宋体;

   font-size : 25px;
   text-align: center;

      color : #FFFFF0;
      align-content: center;


}
