body{
	background-image: url(../img/123.jpg);
	/*background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;*/
	
}
div{
	position: relative;
	top: 150px;
	
}
input{
	margin-left: 100px;
	width:150px;
	height:60px;
	border-radius: 13%;
	background-image: url(../img/310.jpg);
	padding-left:15px;
	text-align:left;
    font-size: 20px;
	position: relative;
	
	top: 100px;
	}
#d1{
	font-family : 宋体;

   font-size : 25px;
text-align: center;
      color :#CCFF00	;
      align-content: center;
}
